.Rproj.user
.Rhistory
.RData
.Ruserdata

# renv
renv/library/
renv/staging/

# bookdown
_main_cache/
_bookdown_files/
_main_files/
references-key.txt
references-key.html

# IDE
.vscode/

meidai_2025.Rproj
note*